<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meategg.mapper.PostMapper">

    <select id="searchByTitle" resultType="com.meategg.entity.Post">
        SELECT * FROM post
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY created_at DESC
    </select>

</mapper>